      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/saved-articles">Saved Articles</a>
          </li>
          <li class="nav-item ml-3 mb-2">
              <button type="nav-link button" class="btn btn-success" id="scrape-new-articles">Scrape New Articles!</button>
          </li>
          <li class="nav-item ml-3 mb-2">
              <button type="nav-link button" class="btn btn-warning" id=
            "clear-saved-articles">Clear Saved Articles!</button>
          </li>
          <li class="nav-item ml-3 mb-2">
              <button type="nav-link button" class="btn btn-danger" id=
            "clear-articles">Clear Articles!</button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 offset-md-right-2">
            <h1>News Scraper</h1>
            <h2>Toronto Star Edition</h2>
          </div>
      </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 offset-md-right-1" id="articleContainer">
          <h2>News! News! News!</h2>
        </div>
      </div>
    </div>